0,Always true
1,Practice mode move demo
2,Attack to Throw
3,Throw Hits Forward (Standing)
4,Throw Hits Backward (Standing)
5,Throw Hits Left Side (Standing)
6,Throw Hits Right Side (Standing)
7,Throw Hits Forward (Crouching)
8,Throw Hits Backward (Crouching)
9,Throw Hits Left Side (Crouching)
10,Throw Hits Right Side (Crouching)
11,Throw Hits Forward (Face Up)
12,Throw Hits Backward (Face Up)
13,Throw Hits Left Side (Face Up)
14,Throw Hits Right Side (Face Up)
15,Throw Hits Forward (Face Down)
16,Throw Hits Backward (Face Down)
17,Throw Hits Left Side (Face Down)
18,Throw Hits Right Side (Face Down)
23,Attack to Throw (Forward)
24,Attack to Throw (Backward)
25,Attack to Throw (Left Side)
26,Attack to Throw (Right Side)
27,Airborne Throw Hit (Forward)
28,Airborne Throw Hit (Backward)
29,Airborne Throw Hit (Left Side)
30,Airborne Throw Hit (Right Side)
35,Opponent distance <= param
36,Opponent distance >= param
43,On Hit
44,On Hit
47,On block
48,On whiff
49,On hit/block
51,On hit
61,Check opponent VULN
66,Opponent Standing
67,Opponent Crouching
68,Incoming high attack
69,Incoming mid attack
70,Incoming low attack
71,Incoming high/mid attack
72,Backturned
73,Not Backturned
92,Opponent facing Forward
93,Opponent facing Left
94,Opponent facing Right
95,Opponent facing Back
96,Opponent facing Forward
97,Opponent facing Left
98,Opponent facing Right
99,Opponent facing Back
100,Enemy within 1792 units & last active frame not reached & attack is high
101,Enemy first active frame - curr frame < X
102,Enemy first active frame - curr frame >= X
103,Enemy first active frame - curr frame = X
104,Enemy last active frame - curr frame < X
105,Enemy last active frame - curr frame >= X
106,Enemy last active frame - curr frame = X
110,Enemy move frame >= X
111,Enemy move frame < X
112,Enemy move frame == X
113,Enemy move frame >= X
114,Enemy move frame >= X
126,Opponent downed
127,Opponent on their feet
130,Counterhit
131,Pressed ONLY LP (1)
132,Pressed ONLY RP (2)
133,Pressed ONLY LP+RP (1+2)
137,On death
139,Opponent HP < 50%
140,Player HP >= param
141,Player HP < param
142,Opponent HP >= param
143,Opponent HP > param
144,Player HP %age >= param
145,Player HP %age < param
146,Opponent HP <= param
147,Player HP <= param
148,Standing on left side
149,Standing on right side
150,On ground (right side)
151,On ground (left side)
157,If Ki Charged
159,Player is in rage
178,Geese in Max-Mode
184,Near Wall
219,Something wallsplat related
220,Player character ID
221,Player NOT character ID
222,Opponent character ID
223,Opponent NOT character ID
224,Player character ID
225,Player NOT Character ID
226,Opponent character ID
227,Opponent NOT character ID
228,Character Controller
256,Bryan taunt value >= param
258,Value (prop 0x807c) >= param
259,Bryan taunted
276,prop 0x80c8 >= param
277,prop 0x80cb >= param
287,_
288,prop 0x810c >= param
311,Chloe Points <= param
313,prop 0x80c8 <= param
314,prop 0x80cb <= param
324,player flag <= param
325,prop 0x810c <= param
326,prop 0x80ed <= param
332,Check value (prop 0x807c)
347,Kazuya Devil Form
348,Chloe points == param
349,Check value (prop 0x80c5)
350,Check value (prop 0x80c8)
351,Check value (prop 0x80cb)
354,Claudio Starburst
355,Check value (prop 0x80a6)
356,Check value (prop 0x80a9)
362,_
364,Check value (prop 0x80ed)
535,Player speed >= param
536,Player speed <= param
537,Player speed == param
555,Random number generator (uniform)
556,Random number generator (weighted)
559,Arcade Battle
561,Story Battle
562,Story Battle Number
563,Customization seq#
566,Gamemode
567,Round Type?
569,Outro Related(?)
572,Round Number?
573,Outro Related(?)
576,Check Stage ID
582,Player check (P1/P2)
586,Character is male
587,Character is female
610,Opponent is Airborne
611,Opponent is Not Airborne
612,Has item
617,Juggle
618,Screw available
632,Meter >= param
637,Treasure Battle Special Match
639,Assist button pressed
640,Check Match Point
642,Parry Zoom
644,Once per match (Leroy Cane)
646,is Kuni mask On?
768,Arcade Cutscene
788,Projectile on-hit
789,Projectile on-block
810,prop 0x8414 >= param
811,prop 0x8414 <= param
812,Check value (prop 0x8414)
814,Basic combo enabled
816,Parry high
817,Parry mid
818,Parry low
819,Parry high and mid
820,Parry group
833,Attack absorption (Power Crush)
845,Parry high
846,Parry mid
847,Parry low
848,Parry high and mid
849,Parry group
862,Parry high (special)
863,Parry mid (special)
864,Parry low (special)
865,Parry high and mid (special)
866,Parry high
867,Parry mid
868,Parry low
869,Parry high and mid
874,Parry high
875,Parry mid
876,Parry low
877,Parry high and mid
900,Requirements end