0,Always true
1,Practice mode move demo
2,Attack to Throw
3,Throw Hits Forward (Standing)
4,Throw Hits Backward (Standing)
5,Throw Hits Left Side (Standing)
6,Throw Hits Right Side (Standing)
7,Throw Hits Forward (Crouching)
8,Throw Hits Backward (Crouching)
9,Throw Hits Left Side (Crouching)
10,Throw Hits Right Side (Crouching)
11,Throw Hits Forward (Face Up)
12,Throw Hits Backward (Face Up)
13,Throw Hits Left Side (Face Up)
14,Throw Hits Right Side (Face Up)
15,Throw Hits Forward (Face Down)
16,Throw Hits Backward (Face Down)
17,Throw Hits Left Side (Face Down)
18,Throw Hits Right Side (Face Down)
23,Attack to Throw (Forward)
24,Attack to Throw (Backward)
25,Attack to Throw (Left Side)
26,Attack to Throw (Right Side)
27,Airborne Throw Hit (Forward)
28,Airborne Throw Hit (Backward)
29,Airborne Throw Hit (Left Side)
30,Airborne Throw Hit (Right Side)
35,Opponent distance <= param
36,Opponent distance >= param
43,On Hit
44,On Hit
47,On block
48,On whiff
49,On hit/block
51,On hit
61,Check opponent VULN
62,Opp doing a damaging move
63,Opp doing a damaging move + standing
64,Opp doing a damaging move + crouching
65,Opp doing a non-damaging move
66,Opponent Standing
67,Opponent Crouching
68,Incoming high attack
69,Incoming mid attack
70,Incoming low attack
71,Incoming high/mid attack
72,Backturned
73,Not Backturned
76,Facing direction >= X
77,Facing direction < X
92,Opponent facing Forward
93,Opponent facing Left
94,Opponent facing Right
95,Opponent facing Back
96,Opponent facing Forward
97,Opponent facing Left
98,Opponent facing Right
99,Opponent facing Back
100,Enemy within 1792 units & last active frame not reached & attack is high
101,Enemy first active frame - curr frame < X
102,Enemy first active frame - curr frame >= X
103,Enemy first active frame - curr frame = X
104,Enemy last active frame - curr frame < X
105,Enemy last active frame - curr frame >= X
106,Enemy last active frame - curr frame = X
107,Enemy move frame - last active frame <= X
108,Player current frame - move max anim >= X
109,Player move max anim - current frame > X
110,Enemy move frame >= X
111,Enemy move frame < X
112,Enemy move frame == X
113,Enemy move frame >= X
114,Enemy move frame >= X
126,Opponent downed
127,Opponent on their feet
128,Opponent downed + distance <= X
130,Counterhit
131,Pressed ONLY LP (1)
132,Pressed ONLY RP (2)
133,Pressed ONLY LP+RP (1+2)
134,Throw break related
135,Throw break related
137,On death
138,On opponent death
139,Opponent HP < 50%
140,Player HP >= param
141,Player HP < param
142,Opponent HP >= param
143,Opponent HP > param
144,Player HP %age >= param
145,Player HP %age < param
146,Opponent HP <= param
147,Player HP <= param
148,Standing on left side
149,Standing on right side
150,On ground (right side)
151,On ground (left side)
157,If Ki-charged
158,If not Ki-charged
159,Player is in rage
184,Near Wall
219,Something wallsplat related
220,Player character ID
221,Player NOT character ID
222,Opponent character ID
223,Opponent NOT character ID
224,Player character ID
225,Player NOT Character ID
226,Opponent character ID
227,Opponent NOT character ID
228,Player character controller
229,Opponent character controller
274,Kazuya devil >= X
276,0x80e4 >= X
281,0x80c5 >= X
282,0x80c8 >= X
288,Short flag >= X
312,Kazuya devil <= X
314,0x80e4 <= X
319,0x80c5 <= X
320,0x80c8 <= X
326,Short flag <= X
350,Kazuya devil == X
352,0x80e4 == X
358,0x80c5 == X
359,0x80c8 == X
365,Short flag == X
442,Heat available
466,Heat related
640,Player speed >= X
641,Player speed <= X
642,Player speed == X
654,RNG-related
666,Playing Ball mode
667,Playing Story mode
668,Story battle number
672,Game mode
716,Opponent airborne
717,Opponent not airborne
718,Has Item
723,Juggle
724,Tornado available
755,Chara ID related?
766,Chara episode pre-fight?
767,Chara episode post-fight?
777,Story flags
778,Not Story mode
1028,Player is in heat
1032,Parry High
1033,Parry Mid
1034,Parry Low
1035,Parry High and Mid
1036,Parry Group
1038,Parry High
1039,Parry Mid
1040,Parry Low
1041,Parry High and Mid
1042,Parry Group
1049,Power Crush Attack Absorption
1061,Parry High
1062,Parry Mid
1063,Parry Low
1064,Parry High and Mid
1065,Parry Group
1067,Parry High
1068,Parry Mid
1069,Parry Low
1070,Parry High and Mid
1071,Parry Group
1078,Parry High
1079,Parry Mid
1080,Parry Low
1081,Parry High and Mid
1082,Parry High
1083,Parry Mid
1084,Parry Low
1085,Parry High and Mid
1090,Parry High
1091,Parry Mid
1092,Parry Low
1093,Parry High and Mid
1100,Requirements end